body {
  font-family: "Arial Black", Gadget, sans-serif;
  color: #fff;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-image: url("images/bg.webp");
  background-size: cover;
}

#game-container {
  background: linear-gradient(to right, #880a0e 0%, #dc1e2d 50%, #880a0e 100%);
  width: 100%;
  max-width: 500px;
  height: 100%;
  text-align: center;
  position: relative;
}

#header-area {
  background-color: transparent; /* Tornar transparente se o logo tiver fundo ou para melhor ajuste */
  display: flex; /* Para centralizar o logo */
  justify-content: center;
  align-items: center;
  min-height: 60px; /* Altura mínima para o logo */
}

#header-logo {
  max-width: 100%; /* Logo ocupa no máximo 80% da largura do header */
  height: 100%; /* Mantém a proporção da imagem */
}

#slot-machine {
  padding: 7px;
  background-image: url("images/roll.webp");
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
}

.reels-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
}

.reel {
  width: 31%; /* Ajustar se necessário para símbolos maiores */
  height: 255px; /* Altura para 3 símbolos de 75px + margens (75px + 5px*2 = 85px por símbolo) */
  overflow: hidden;
}

.symbols-strip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.symbol {
  width: 75px; /* Aumentado em 50% de 50px */
  height: 75px; /* Aumentado em 50% de 50px */
  margin: 5px 0; /* Mantém a margem vertical */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 2px;
  box-sizing: border-box;
}

.symbol img {
  max-width: 150%;
  max-height: 150%;
  object-fit: contain;
}

#feature-message-area {
  margin-top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffdd57;
  width: 100%;
  max-width: 500px;
  height: 70px;
  font-weight: bold;
  font-size: 1.5em;
  background-image: url("images/container_mensagem.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#feature-message {
  opacity: 0;
  font-family: "Caveat Brush", cursive;
  padding: 12px 0;
  margin: 0;
}

.info-displays {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("images/infos.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  min-height: 60px;
  margin-top: -3px;
}

.display-item {
  padding: 2px 2px;
  border-radius: 8px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  flex: 1;
  margin: 0 3px;
}

.display-item span:first-child {
  color: #ffc107;
  font-weight: normal;
  font-size: 0.8em;
  margin-bottom: 2px;
}

.display-item span:last-child {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
}

#buttons-area {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-image: url("images/footer.webp");
  background-size: cover;
  height: 210px;
  margin-top: -15px;
}

.control-button {
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-top: 12.5px;
}

#turbo-button {
  background-color: transparent;
  background-image: url("images/turbo-btn.svg");
  background-size: cover;
  opacity: 0.2;
}
#turbo-button:hover {
  background-color: #9b59b6;
}

#bet-plus-button {
  background-color: transparent;
  background-image: url("images/plus-btn.svg");
  background-size: cover;
}

#bet-minus-button {
  background-color: transparent;
  background-image: url("images/minus-btn.svg");
  background-size: cover;
}

#auto-button {
  background-color: transparent;
  background-image: url("images/auto-btn.svg");
  background-size: cover;
  opacity: 0.2;
}

#turbo-button,
#bet-minus-button,
#bet-plus-button,
#auto-button {
  margin-top: 30px;
}

.spin-button-main {
  background-color: transparent;
  width: 90px;
  height: 90px;
  font-size: 3em;
  transition: transform 0.3s ease-in-out;
  background-image: url("images/btnspin.webp");
  background-size: cover;
}
.spin-button-main:hover {
  background-color: transparent;
}

#modal-prize {
  overflow: hidden;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  z-index: 50;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  overflow: auto;
  background-color: rgba(74, 14, 14, 0.8);
}

#modal-prize-content {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  width: 80%;
  max-width: 400px;
}

#img-prize {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#prize-amount {
  font-family: "Caveat Brush", cursive;
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 59%;
  left: 0;
  right: 0;
  margin: auto;
  font-weight: 800;
  font-size: 4rem;
  background: -webkit-linear-gradient(#fef68b, #f59233);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  height: 100%;
  filter: drop-shadow(1px 0px 0px #fff) drop-shadow(0 2px 0px #b62d42)
    drop-shadow(0 -1px 0px #5f070f) drop-shadow(-1px -1px 0px #5f070f)
    drop-shadow(-1px 1px 0px #5f070f) drop-shadow(-1px 2px 0px #5f070f)
    drop-shadow(1px -1px 0px #5f070f) drop-shadow(1px 1px 0px #5f070f);
}

#modal-button {
  opacity: 0;
  background-color: #890fbd;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  z-index: 100;
  font-weight: bold;
}

.shake {
  animation: shake 0.3s infinite;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, 0px) rotate(1deg);
  }
  20% {
    transform: translate(2px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-2px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(2px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.explode {
  animation: explosion 0.7s;
}
@keyframes explosion {
  0% {
    filter: brightness(7) contrast(2);
  }
  10% {
    filter: brightness(1) contrast(1);
  }
  20% {
    filter: brightness(7) contrast(2);
  }
  30% {
    filter: brightness(1) contrast(1);
  }
  40% {
    filter: brightness(7) contrast(2);
  }
  100% {
    filter: brightness(1) contrast(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    scale: 1;
  }
  10% {
    scale: 1.01;
  }
  20% {
    scale: 1.02;
  }
  30% {
    scale: 1.03;
  }
  40% {
    scale: 1.04;
  }
  50% {
    scale: 1.05;
  }
  60% {
    scale: 1.04;
  }
  70% {
    scale: 1.03;
  }
  80% {
    scale: 1.02;
  }
  90% {
    scale: 1.01;
  }
  100% {
    scale: 1;
  }
}

.bright {
  overflow: hidden;
  background: radial-gradient(
    circle at center,
    rgba(254, 252, 234, 1) 0%,
    #fd75a2 43%,
    rgba(253, 117, 162, 0.5) 68%,
    rgba(253, 117, 162, 0) 100%
  );
}

@media (max-width: 380px) {
  .info-displays {
    margin-bottom: 10px;
    margin-top: -10px;
  }

  #buttons-area {
    gap: 25px;
    height: 210px;
    margin-top: -20px;
  }

  .control-button {
    width: 35px;
    height: 35px;
    margin-top: 8px;
  }
  .spin-button-main {
    width: 67px;
    height: 67px;
    font-size: 0.8em;
  }
  #turbo-button,
  #bet-minus-button,
  #bet-plus-button,
  #auto-button {
    margin-top: 20px;
  }

  #prize-amount {
    top: 58%;
    font-size: 3.5rem;
  }
}
